<div class="container" style="max-width: 550px">
    <h2 class="text-center mb-5">Angular Login with Google</h2>
  
    <div *ngIf="isLoggedin === false">
      <div>
        <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
        <button type="button" (click)="facebookSignin()" class="btn btn-primary">Login with Facebook</button>
      </div>
    </div>
  
    <div *ngIf="isLoggedin === true">

        <div class="text-center">
            <img [src]="socialUser.photoUrl" class="rounded" alt="..." >
          </div>
      <div class="form-group"> 
        <label>First Name</label>
        <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
      </div>
      <div class="form-group">
        <label>id</label>
        <input type="text" class="form-control" [value]="socialUser.id" id="email" readonly>
      </div>   
  
      <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
    </div>
  </div>